#home {
  --padding: 1rem;
  --margin: calc(var(--padding) * 2);
  --width: calc(100vw - var(--margin));
  --height: calc(100vh - var(--margin));
  --title-size: 14vw;
  --main-foreground: white;
  --main-background: var(--main-accent);
  max-width: var(--height);
  max-height: var(--width);
  height: var(--height);
  width: var(--width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  padding: 0;
  align-items: center;
  border-radius: 100%;
  border: 3vh double var(--main-foreground);
  color: var(--main-foreground);
  transition: 1s all;
}

#home.show {
  --width: calc(100% - var(--margin));
  --height: calc(100% - var(--margin));
  --title-size: 3rem;
  --main-foreground: var(--main-accent);
  --main-background: white;
  --padding-top: calc(var(--title-size) * 2.3);
  border-radius: 0%;
  max-width: 100vw;
  max-height: 100vh;
  border: 1px solid transparent;
  background: var(--main-background);
  display: block;
}

#home .search-cont {
  --size: var(--title-size);
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

#home.show .search-cont {
  width: 80vw;
  height: 2.25rem;
  top: calc(var(--title-size) * 1.6);
}

#main-title {
  --maccent: var(--main-foreground);
  --text-shadow-color: var(--main-foreground);
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  padding-right: calc(var(--title-size) * 0.25);
  margin: 0;
  color: var(--maccent);
  font-size: var(--title-size);
  text-shadow: 0 0 calc(var(--title-size) * 0.2) var(--text-shadow-color);
  transition: inherit;
}

#home.show #main-title {
  --text-shadow-color: transparent;
  top: 1rem;
}

.heading {
  font-family: "Allura", sans-serif;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

#home.show .results {
  height: calc(90% - var(--padding-top));
  width: 98%;
  animation: fadein 1s both 0.5s;
  margin: auto;
  margin-top: var(--padding-top);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  --grid-gap: 0.25rem;
  grid-gap: var(--grid-gap);
  gap: var(--grid-gap);
  padding: var(--padding);
}

.no-results {
  display: none;
}

#home.show .no-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-height: 75vw) {
  #home {
    --title-size: 17vh;
  }
}

@media (max-width: 600px) {
  #home {
    --padding: 0.5rem;
  }
  #home.show .results {
    grid-template-columns: repeat(2, 1fr);
  }
}
