* {
  box-sizing: border-box;
}

body {
  --main-accent: #940000;
  background: var(--main-accent);
  font-family: sans-serif;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
