.recipe-card {
  --main-accent: var(--main-color);
  --accent: var(--main-accent);
  --accent: white;
  height: 15rem;
  margin: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;
  transition: 0.4s all;
  cursor: pointer;
  border: 1px solid var(--accent);
  background: var(--main-accent);
}

.recipe-card:hover {
  --accent: var(--main-accent);
  background: white;
}

.recipe-card * {
  transition: inherit;
}

.recipe-image {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.recipe-title {
  margin: 1rem auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  color: var(--accent);
  padding: 0.2rem 0;
  width: 90%;
}
