@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: var(--end-opacity, 1);
  }
}

@keyframes modal-slide-up {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}

.modal-background {
  --end-opacity: 0.6;
  position: absolute;
  top: -10vh;
  left: -10vw;
  right: 0;
  bottom: 0;
  height: 120vh;
  width: 120vw;
  background: var(--main-foreground);
  opacity: var(--end-opacity);
  cursor: pointer;
  z-index: 0;
  transition: 0.3s all;
  animation: fade-in 0.3s both;
}

.recipe-details {
  --padding: 1rem;
  --background: var(--main-accent);
  --accent: white;
  position: absolute;
  height: 80vh;
  width: 60vh;
  background: var(--background);
  border-radius: 1rem;
  padding: var(--padding);
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0 0 2rem 0.75rem var(--accent);
  animation: modal-slide-up 0.4s both;
}

.recipe-details .heading {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--accent);
}

.exit-btn {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: transparent;
  color: var(--accent);
  font-size: 2rem;
  line-height: 1rem;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s all;
}
.exit-btn:hover {
  background: var(--accent);
  color: var(--background);
}

.recipe-large-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: inherit;
}

.ingredients-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ingredient {
  flex: 1;
  position: relative;
  transition: 0.4s all;
  cursor: pointer;
}

.ingredient * {
  margin: 0;
  transition: inherit;
}

.ingredient-image {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  object-fit: contain;
  background-color: white;
  border-radius: 100%;
  border: 0.5rem solid white;
  display: inline-block;
}

.ingredient-info {
  width: 10rem;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background: var(--background);
  color: var(--accent);
  padding: 0.5rem;
  z-index: 11;
}

.ingredient:hover {
  z-index: 10;
}

.ingredient:hover .ingredient-image {
  transform: scale(1.5);
}

.ingredient:hover .ingredient-info {
  opacity: 1;
  pointer-events: initial;
}

@media (max-width: 768px) {
  .recipe-details {
    width: 100vw;
    height: 100vh;
    top: -1rem;
    transform: translate(0, 0);
    box-shadow: none;
    border-radius: 0;
  }
  .ingredients-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
  }
  .ingredient {
    cursor: default;
    text-align: left;
  }
  .ingredient-info {
    max-width: 12rem;
    width: unset;
    position: relative;
    top: 0;
    opacity: 1;
    pointer-events: initial;
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0;
    background: transparent;
  }
  .ingredient:hover .ingredient-image {
    transform: initial;
  }

  @media (max-width: 600px) {
    .ingredients-container {
      display: block;
    }
    .ingredient-info {
      max-width: unset;
      width: unset;
      position: relative;
    }
  }
}
