.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--accent);
  opacity: 0.6;
  z-index: 0;
}
.recipe-details {
  position: fixed;
  height: 80vh;
  width: 60vh;
  background: white;
  border-radius: 1rem;
  padding: var(--padding);
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  --padding: 1rem;
  z-index: 10;
}

.exit-btn {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: transparent;
  color: var(--accent);
  font-size: 2rem;
  line-height: 1rem;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s all;
}
.exit-btn:hover {
  background: var(--accent);
  color: white;
}
